<!DOCTYPE html>
<body>

<div class="container">

    <form action="/boards/posts" method="post">
        <div class="form-group">
            <label for="aid">아티스트 번호</label>
            <input type="text" id="aid" name="aid" placeholder="아티스트번호를 입력하세요">
            <label for="hashtag">해시태그</label>
            <input type="text" id="hashtag" name="hashtag" placeholder="해시태그 입력하세요">
            <label for="content">내용</label>
            <input type="text" id="content" name="content" placeholder="내용 입력하세요">
            <label for="writer">작성자 번호</label>
            <input type="text" id="writer" name="writer" placeholder="작성자 번호 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>

</div>

</body>
</html>